# Declare files that always have LF line endings on checkout
* text eol=lf
# Denote all files that are truly binary and should not be modified
*.bin binary
*.bmp binary
*.ttf binary
*.gz binary
*.png binary
Sancloud-signed-Image/FIT_SourceFiles/Image binary
Sancloud-signed-Image/FIT_SourceFiles/initrd.img binary
Sancloud-signed-Image/FIT_SourceFiles/k3-am625-sancloud.dtb binary
Sancloud-signed-Image/FIT_SourceFiles/Recover-Image binary